body{
  padding: 45px 15px 15px 0px;
  font-family: sans-serif, "Helvetica";
  font-size: 20px;
  line-height: 24px;
  background-color: white;


}

img{
  padding-bottom: 30px;
  padding-top: 0px;
  align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
}

video{
  padding-bottom: 30px;
  padding-top: 0px;
  align: middle;
  width: 100%;
  height: auto;
}

#title{
  padding-left: 40px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
}

h3{
  font-weight: normal;
  font-size: 20px;
  margin-top: -7px;
}

a{
  text-decoration: underline;
  color: black;
}

h1{
  position: static;
  font-size: 20px;
}

nav{
  margin-top: 35px;
  position: fixed;
}

ul {
  list-style-type: none;
  line-height: 24px;
  position: fixed;
  width:100%;
}


#detail{
  visibility: hidden;

  margin-left: 320px;
  margin-top: -18px;
  margin-right: 20%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 5px;
  background-color: white;
  font-size: 20px;
  line-height: 24px;
  z-index: 99;

}

#chineselogo{
  width: 50%;
}

#contact{
  padding-top: 96px;
}


@media only screen
  and (max-device-width: 800px) {

    nav{
        position: absolute;
    }

ul li {
  font-size: 10px;
  line-height: 12px;
  position: fixed;
}

#detail{
  line-height: 18px;
  margin-right: 10%;
  margin-left: 85px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50%;
}

#detail h3 {
    font-size: 16px;
}

#contact {
  visibility: hidden;
}

#resume{
  visibility: hidden;
}

a{
  font-size: 16px;
  line-height: 18px;
}

}
